--extra-index-url https://download.pytorch.org/whl/cu118
h5py==3.16.0
mujoco==3.9.0
numpy==1.26.4
robosuite==1.4.1
torch==2.7.1+cu118
torchaudio
torchvision

# Editable GitHub Packages
-e git+https://github.com/NVlabs/mimicgen.git#egg=mimicgen